<div class="potion-overlay" ng-controller="potionController">
    <div class="potion-lab">
        <header>
            <div>
                Current Crafting Level 2<br>
                (2/5) Successful crafts at level 2
            </div>
        </header>
        <hr />
        <div style="margin-bottom:10px;">Craftable Potions (Level 1-3)</div>
        <div class="potion-container">
            <div class="potion" ng-repeat="potion in potions" ng-if="potion.isCraftable">
                <div class="potion-name"><b>Name:</b> {{potion.name}}</div>
                <div class="potion-desc"><b>Description:</b> {{potion.desc}}</div>
                <div class="potion-dc"><b>DC:</b> {{potion.dc}}</div>
                <div class="potion-price"><b>Price:</b> {{potion.price}}</div>
                <div class="potion-main"><b>Main Ingredients:</b> {{potion.main}}</div>
                <div class="potion-main"><b>Secondary Ingredients:</b> {{potion.secondary}}</div>
            </div>
        </div>
    </div>
</div>